@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br />
    <h1 class="display-4">BILLETERA</h1>
    <br />
    <br />
    <br />
   
    <img src="https://www.onlygfx.com/wp-content/uploads/2020/11/stack-of-gold-coins-1.png" alt="imagen de monedas apiladas" width="200" height="200"/>
</div>
